API_ID=11779786
API_HASH=d7ef58ca40133227783348fd3c0923c4
BOT_TOKEN=7121054769:AAHNgUmA6E5Bny2Z3R8rAqdrOUonwEGz2No
LOGGER_ID=-1001392902114
MONGO_DB_URI=mongodb+srv://toxictanji:toxictanji@cluster0.wvvcdqs.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=5195444280
STRING_SESSION=BQCzvsoAKVS7mhenXla0pEvofnkjHvBbD0qilzr8ohUEWP3NpfWFgdh6-UfZPmr8Peto_8J75SBOG7Jff5pXqCSWFGsfE4C23Ub7qLY5PyYRxquueLK8EXOJFQK3N0owf2hsAXzBcJT7HLWyHgRcsbKkDfmhzSt8rrUSPNE7Vs_QSn37fMNpnbOgRnjFgTFnP5Xj8OY975aXAQIxe2VbG0gv7LAD6INJjniaOAQKVCAWN3-cineDbZtf1_DvrHAJO3hfIhoh-HXueid8Zo0tO4obAtMnnzZl7vxNLG5DLQzNxYWsyFPChPbCSVK-4dsiyEuHT8bIEkyBUrDELoGe188T92uGDAAAAAGKBGSZAA
